body{
    background: WhiteSmoke  ;
}

#container {
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
    width: 80%;
    height: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
}

#container img {
    width: 400px;
    height: 500px;
}

.oculto{
    position: absolute;
    margin-top: -71px;
    width: 400px;
    height: 67px;
    background: lightgray;
    opacity: 0.7;
    color: black;
    font-size: 30px;
}

#cabecera{
    width: 100%;
    height: 100px;
    text-align: center;
    display: flex;
<<<<<<< HEAD
    justify-content: space-between;
    background: gray;
=======
    justify-content: center;
    background: gray;
    border: 4px outset darkgray;
    font-family: 'Courier New', Courier, monospace;
>>>>>>> 3219c29f34c880ab5262e49d9ad1a317e92dd7d0
}

#cabecera img{
    position: relative;
    margin-right: 30px;
    bottom: 50px;
    width: 200px;
    height: 200px;
}

#pie{
    background: lightgray;
    width: 100%;
    height: 7%;
}

.pelicula{
    border: 4px outset darkgray;
    background: grey;
    padding: 5px;
    margin-top: 30px;
    transition: padding 1s;
}

.pelicula:hover{
    padding: 8px;
    background: purple;
}

@media screen and (max-width: 380px){
    #cabecera{
        width:95%;
    }
    #container{
        margin-left: 0;
    }
    .pelicula img{
        zoom: 0.8;
    }
    .oculto{
        font-size: 25px;
        width: 320px;
    }
}

@media screen and (min-width: 412px){
    #cabecera{
        width:95%;
    }
    #container{
        margin-left: 0;
    }
    .pelicula{
        margin-left: 9%;
    }
    .pelicula img{
        zoom: 0.8;
    }
    .oculto{
        font-size: 25px;
        width: 320px;
    }
}